/* 
 * File: index.css
 * Student's Name: Kausar Parveen
 * StudentID: 301369416
 * Date: 29/01/2024
 */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* .logo-wrapper{
    border-radius: 5px;
} */

.nav-item:hover{
    color: black;

}

nav{
    transition: all 0.5s ease-in;
}

.name-wrapper{
    transform: rotate(-15deg);
}
.service-wrapper:hover :nth-child(1){
    transition:all 0.5s ease-in-out;
    color:white !important;
}
.contact-wrapper input{
    border: 1px solid gray;
}
.contact-wrapper textarea{
    border: 1px solid gray;
}