/* 
 * File: index.css
 * Student's Name: Kausar Parveen
 * StudentID: 301369416
 * Date: 29/01/2024
 */

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Nav bar styles */
.nav-item{
    transition: all 0.5s ease-in-out;
}
.nav-item:hover{
    color: rgb(31 182 255 / var(--tw-text-opacity));
    border-bottom: 1px solid rgb(31 182 255 / var(--tw-text-opacity));

}

nav{
    transition: all 0.5s ease-in;
}


.name-wrapper{
    transform: rotate(-15deg);
}
.service-wrapper:hover :nth-child(1){
    transition:all 0.5s ease-in-out;
    color:white !important;
}

/* Contact form input fields styles */
.contact-wrapper input{
    border: 1px solid gray;
}
.contact-wrapper textarea{
    border: 1px solid gray;
}

/* Profile image styles */
.image-wrapper{
    object-fit: cover;
}